
.equalAndCircle{
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.equal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.lane{
    border: black 2px solid;
    height: 10px;
    width: 100px;
    background-color: blue;
}
.circleContainer{
    display: flex;
    align-items: center;
}
.circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: black 2px solid;
    background-color: darkcyan;
}